<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.ORecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.server.entity.ORecord">
        <id column="id" property="id" />
        <result column="oId" property="oId" />
        <result column="zfsj" property="zfsj" />
        <result column="bz" property="bz" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, oId, zfsj, bz
    </sql>

</mapper>
