<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.server.entity.Role">
        <id column="roleId" property="roleId" />
        <result column="roleName" property="roleName" />
        <result column="rolePower" property="rolePower" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        roleId, roleName, rolePower
    </sql>
    <select id="getRoles" resultMap="BaseResultMap">
        SELECT
        r.roleId,
        r.roleName,
        r.rolePower
        FROM
        tcgl_role AS r
        LEFT JOIN tcgl_user AS u
        ON r.roleId=u.roleId
        WHERE u.id=#{id}
    </select>

</mapper>
