<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.StallMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.server.entity.Stall">
        <id column="stallId" property="stallId" />
        <result column="stallNum" property="stallNum" />
        <result column="stallState" property="stallState" />
        <result column="userId" property="userId" />
        <result column="areaId" property="areaId" />
        <result column="carId" property="carId"/>
        <result column="stallNature" property="stallNature"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        stallId, stallNum, stallState, userId, areaId,carId,stallNature
    </sql>

    <select id="countStall" resultType="int">
        select count(*) from tcgl_stall where areaId=#{areaId}
    </select>
</mapper>
